* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, Arial, Helvetica, sans-serif,"Segoe UI", Roboto, sans-serif;
  color: #111;
  background: linear-gradient(180deg, #4A80E5 0%,
        #47B3E4 50%,
        #F2E8D6 100%
    );
  background: white;
}

.header {
  display: flex;
  align-items: center;
  background: #ffffff;
  height: 98px;
  padding: 0 80px;
  align-items: center ;
}
.hero{
   min-height: 650px;
  background: linear-gradient(180deg, #4A80E5 0%,
        #47B3E4 50%,
        #F2E8D6 100%
    );
}

.logo {
  font-size: 18px;
  font-family: Georgia,  serif;
  margin-right: 65px;
  font-weight: bold;
  letter-spacing: 1px;
}

nav {
  display: flex;
  align-items: center;
  gap: 42px;
}
nav a{
  text-decoration: none;
  columns: #111111;
  font-size: 14px; 
}

.hero-image{
  width: 52%;
  height: 484px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}
.hero-image img{
  height: 484px; 
  width: 100%;
  object-fit: cover;
  display: block;
}
main{
  display: flex;
  background: #d8f8fa;
  justify-content: space-between;
  padding: 48px 80px;
  align-items: center;
  min-height: 652px;
}
main >div:after-child{
  width: 46%;
}
h1{
  font-family: Georgia, serif;
  font-size: 58px;
  line-height: 1.05;
  font-weight: 700;
}

main p{
  margin-top: 24px;
  font-size: 16px;
  line-height: 1.4;
  max-width: 600px;
}
