* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, Arial, Helvetica, sans-serif,"Segoe UI", Roboto, sans-serif;
  color: #111;
  background: white;
}

.header {
  display: flex;
  align-items: center;
  background: #ffffff;
  height: 98px;
  padding: 0 80px;
}

.logo {
  font-size: 18px;
  font-family: Georgia,  serif;
  margin-right: 65px;
  font-weight: bold;
  letter-spacing: 1px;
}

nav {
  display: flex;
  align-items: center;
  gap: 42px;
}
nav a{
  text-decoration: none;
  color: #111111;
  font-size: 14px; 
}
.header-action{
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: auto;
}
.header-action button{
  border: none;
  background: none;
  cursor: pointer;
}
.header-action img{
  width: 20px;
  height: 20px;
}
.icon-button{
  width: 48px;
  height: 48px;
  border: 1px solid #7FA3FF;
  background: #7FA3FF;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius:50%;
  justify-content: center;  

}
.sign-in{
  border: 1px solid #7FA3FF;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  background: white;
  cursor: pointer;
}

.hero > * {
    outline: 2px solid red;
}

.hero-main{
  display: flex;
  align-items: center;
  padding: 48pz 80px;
  gap: 30px;
}
.hero-content{
  width: 48%;
}

.hero{
  display: flex;
  width: 100%;
   min-height: 650px;
   align-items: center;
   flex-wrap: wrap;
 background: linear-gradient(
        180deg,
        #4A80E5 0%,
        #47B3E4 50%,
        #F2E8D6 100%
    );}

.hero-image{
  width: 52%;
  height: 484px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}
.hero-image img{
  height: 484px; 
  width: 100%;
  object-fit: cover;
  display: block;
}
main{
  background: linear-gradient(
        180deg,
        #4A80E5 0%,
        #47B3E4 50%,
        #F2E8D6 100%
    );
  justify-content: space-between;
  padding: 48px 80px;
  align-items: center;
  min-height: 652px;
}
main >div:after-child{
  width: 46%;
}
h1{
  font-family: Georgia, serif;
  font-size: 58px;
  line-height: 1.05;
  font-weight: 700;
}

main p{
  margin-top: 24px;
  font-size: 16px;
  line-height: 1.4;
  max-width: 600px;
}
